.App {
  display: flex;
  flex-direction: column;
}

.volume-info,
.temperature-info {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #282c34;
  border: 1px solid red;
}

.info {
  flex: 5 0;
  font-size: calc(10px + 2vmin);
  color: white;
  min-width: 200px;
}

.char {
  flex: 1 1 100px;
  color: white;
}
